<li>
  <%= link_to click_content_path(content.id, position:content.position), method:"PUT", class: "content_item" do %>
    <span class="glyphicon glyphicon-ok-circle" id="icon_ok_<%=content.position%>" aria-hidden="true" style="<%= get_color_of_check(content, current_user) %>"></span>
    <small><%= content.title %></small>
  <%end%>
</li>
