<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li> <p id="points"> Pontuação Atual: <%= experience %>XP </p> </li>
		<%=render partial: "content", collection: content.chapter.contents, as: :content%>
	</ul>
</div>

