<div class="row">
	<%= render "menu_contents" %>
	
	<div class="col-lg-10">
		<%= render partial: @partial_content, locals: {content: @content} %>
	</div>	
</div>


<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
	});
</script>