<div class="row">
	<%= render partial: "menu_contents", locals: { content: @content, experience: @experience } %>
	<div class="col-lg-10">
		<%= render partial: @partial_content, locals: { content: @content } %>
	</div>	
</div>