<%= render partial: "menu_contents", locals: { content: content, experience: experience } %>
<div class="main">
		<%= render partial: content.content_partial, locals: { content: content, experience: experience } %>
</div>
