<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @content_type.description %>
</p>

<%= link_to 'Edit', edit_content_type_path(@content_type) %> |
<%= link_to 'Back', content_types_path %>
