<div class="panel panel-default">
  <% @chapter.exercises.each do |exercise| %>
    <div class="panel-heading"><%= exercise.title %></div>
    <div class="panel-body">
      <% exercise.questions.each do |question| %>
        <%= question.description %>
        <% question.alternatives.each do |alternative| %>
          <%= alternative.description %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
