<h1><%=@videos[0].title%></h1>
<% @videos.each do |video|%>
	<iframe width="560" height="315" src="<%=video.link%>" frameborder="0" allowfullscreen></iframe>
<%end%><br>
<% $partial = 'exercises' %>
<%= link_to "Próximo", courses_path(), class:"btn btn-success"%>