/* * This is a manifest file that'll be compiled into application.css, which will include all the fils
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= require active_admin/editor/wysiwyg
 *= require_tree .
 *= require_self
 */
*{
	font-family:'Helvetica','Open Sans',sans-serif;
}

/*progress bar styles*/
.progress-bar{
  height: 10px;
  border-radius:4px;
  font-size:1px;
  background-color: #0083f7;
  max-width: 250px;
  margin: 0 auto;
}

.done{
  background-color: #59bc69;
}

div.progress{
  max-width: 250px;
  margin: 0 auto;
  height:10px;
  width:100%;
  border-radius:4px;
  margin-bottom: 10px;
}
/*progress bar styles fim*/

.navbar-default .navbar-nav li a{
	color:white;
  font-family:'Lato',sans-serif;
  font-size:14px;
}

.navbar-default .navbar-nav li a:hover{
    background: #0061b7;
    color:white;
}

.navbar{
	background-color:#0083f7;
	border:0;
  margin:0;
  border-radius:0;
}

.navbar-default .navbar-brand{
	color:white;
  font-family:'Lato',sans-serif;
  font-size:20px;
}

.navbar-default .navbar-brand:hover{
	color:white;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #0083f7;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #0083f7;
}
.bs-callout-primary h4 {
    color: black;
}
