// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
h1{
  text-align:center;
}

img{
  width:100px;
  height:100px;
}

h1+p{
  text-align:center;
}

//Estilizing link_to courses
.courses {
  background-color:#00217f;
  padding:10px;
  margin-top:10px;
  color:#fff;
  text-decoration:none;
  display:inline-block;
  &:hover{
    background-color:#00217f;
    text-decoration:none;
  }
  &:visited{
    color:#fff;
  }
  &:active{
    text-decoration:none;
  }
}


