// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	overflow-x: hidden;
	height: auto;
}

/*Styles lateral bar*/
.content_item small{
	font-size: 87%;
	display:inline-block;
	margin-left:24px;
	line-height: 20px;
}

#chapter-description{
	line-height:20px;
	font-weight: bold;
	margin-bottom:20px;
}

.content_item{
	border-bottom: 1px solid #efefef;
	padding:10px 0;
}

.content_item .glyphicon-ok{
	position:absolute;
	top:14px;
	left:0px;
}

.main{
	transition: all 0.5s ease;
}

.edit_text,
.content_exercise{
	margin-left:10px;
}

.notice{
	z-index:3000;
}

.main h3{
	text-align:center;
	padding:10px 10px 0px 10px;
	margin:0;
	color:black;
	font-family: "helvetica";
}

.main .description{
	text-align:center;
	padding:10px 10px 0px 10px;
	margin:0;
	color:black;
	font-family: "helvetica";
}

input[type="submit"]{
	margin:10px auto 10px auto;
}

li span{
	color:green;
	font_size:16px;
}

.player-container{
	position:relative;
	background:black;
	max-width:100%;
	padding:0 1%;
}

.player-container iframe{
	background:black;
	max-width:100%;
	margin-left:auto;
}

/* Toggle Styles */
ul p{
	color: black;
	border-bottom: 1px solid #D6D8DA;
	padding: 10px 0 10px 0;
	font-size:16px;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper {
	z-index: 1000;
	position:fixed;
	border-right: 1px solid #D6D8DA;
	left:0;
	overflow-y: auto;
	height: 100%;
	background: white !important;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	padding:20px 30px 30px 30px;
	margin: 0;
	list-style: none;
}

.sidebar-nav li {
	line-height: 40px;
	position:relative;
}

.sidebar-nav li .done{
	background: green;
}

.sidebar-nav li a {
	text-decoration: none;
	color: black;
	font-size:15px;
	white-space: normal !important;
	margin-top:5px;
}

.sidebar-nav li a:hover {
	color:#158CBA;
	background: white !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

/* Sidebar Mobile Styles */
#sidebar-wrapper-mobile{
	overflow-y: auto;
	display:block;
	width: 100%;
	background-color:black;
	list-style: none;
	font-family: "Helvetica"
}

.sidebar-nav-mobile {
	margin: 0;
	padding: 0;
}

.sidebar-nav-mobile li {
	text-align:center;
	line-height: 40px;
}

.sidebar-nav-mobile li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav-mobile li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}

.sidebar-nav-mobile li a:active,
.sidebar-nav-mobile li a:focus {
	text-decoration: none;
}

@media(min-width:768px) {
	#sidebar-wrapper{
		width:250px;
	}
	.main{
		margin:0px 0px 0px 250px;
	}

	#sidebar-wrapper-mobile{
		display:none;
	}	
	.player-container{
		padding:0 5%;
	}
}

