// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course_banner_title {
  text-align:left;
  padding:0;   
  margin:0;
}

.link_category{
  padding:0;
  margin:0;
}

