// Place all the styles related to the registries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.progress {
  width:100%;
  border-radius:40px;
}
.progress-bar{
  border-radius:40px;
  background-color: #0083f7;
}

.done{
  background-color: #17c43a;
}

.dashboard_list_itens .image_radius{
	float:left;
	margin-right:10px;
}

.dashboard_list_itens .col-xs-12{
	margin-bottom:30px;
}

.panel-primary>.panel-heading{
	background-color: #0083f7;
}



