// Place all the styles related to the registries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard_list_itens .image_radius{
	float:left;
	margin-right:10px;
}

.dashboard_list_itens .col-xs-12{
	margin-bottom:30px;
}

.panel-primary>.panel-heading{
	background-color: #0083f7;
}

/*fit image user to your container*/
.image-user{
	object-fit:cover;
	object-position:center;
}


