// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	box-sizing:border-box;
}
.alert{
	margin:0;
} 
#image-adm{
	/*border-radius:50%;*/
	width:273px;
	height:303px;
  object-fit: cover;
    object-position: center;
}
.our_team {
  text-align:center;
  margin-top:100px;
}
#name_adm{
	font-size:20px;
}
#cover{
	width:100%;
	height:600px;
	object-fit: cover;
    object-position: center;
    position:relative;
    top:-50px;
}
#categories_welcome{
	width:100%;
}
#categories_welcome p{
  font-size:16px;
  line-height:26px;
}
#categories_welcome h2{
  font-weight:bold;
  text-transform:uppercase;
}
h1{
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.1;
}
.image_category{
	border-radius:50%;
	margin:0;
	padding:0;
	width:140px;
	height:140px;
	object-fit: cover;
    object-position: center;
}
#categories_welcome .col-lg-4{
	text-align:center;
}
body{
	line-height: 1.42857143;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
